@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spectral+SC:ital,wght@0,200;0,300;0,500;0,600;0,700;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scheherazade:wght@400;700&display=swap');

html, body{
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Roboto', sans-serif;
}

h1,h2 {
  margin: 0;
  color: #5A5A5A;
  letter-spacing: 0.5rem;
  font-weight: 700; 
}

h1 {
  font-size: 2.5rem;
}

a {
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Card Video */
.videoContainer {
  width: 100%;
}

video {
  width: 100%;
  height: 100vh;
}

/* Card Title */
#title {
  margin-top: 1rem;
  text-align: center; 
}

/* Edition */
#editionContainer {
  margin-top: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.edition {
  font-size: 2rem;
  color: white;
  letter-spacing: 0.5rem;
  display: block;
}

.btnContainer {
  margin-top: 2rem;
}

.btnContainer a{
  color: #9C8853;
  margin: 1rem;
}

/* Footer */
#footerContainer {
  margin-left: 2rem;
  margin-top: 50vh;
  width: 75%;
  max-width: 375px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#footerContainer p, #footerContainer a {
  font-size: 1rem;
  color:#5A5A5A;
  font-weight: 400;
}

/* Media Queries */
@media (max-width: 750px) {
  #footerContainer {
    margin-left: 0.5rem;
    width: 70%;
  }
  #footerContainer p, #footerContainer a {
    font-size: 0.75rem;
  }
  #title h1 {
    font-size: 1.5rem;
    margin-top: 5rem;
  }
  video {
    transform: scale(1.5);
  }
  .edition {
    font-size: 1.5rem;
  }
  .btnContainer a {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  #title h1 {
    font-size: 1rem;
    letter-spacing: 0.25rem;
  }
  video {
    transform: scale(2);
  }
  .edition {
    font-size: 1rem;
  }
  #editionContainer {
    margin-top: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
} 

@media (max-width: 400px) {
  #footerContainer {
      margin-left: 1rem;
      width: 90%
  }
}
